/* Outer sidebar */

.sidebar {
    background-color: #2c2e3e !important;
}
.active {
    background-color: #8D744B !important;
}
:root {
    --scale: 1.3; /* اجعلها 1.1 أو 1.3 حسب رغبتك */
}

body {
    font-size: calc(16px * var(--scale)) !important;
}

h1 {
    font-size: calc(2rem * var(--scale)) !important;
}

h2 {
    font-size: calc(1.6rem * var(--scale)) !important;
}

h3, txt-large {
    font-size: calc(1.4rem * var(--scale)) !important;
}

p, span, li,label {
    font-size: calc(1rem * var(--scale)) !important;
}

small,input,select {
    font-size: calc(0.85rem * var(--scale)) !important;
}
