<!DOCTYPE html>
<html ng-app="myApp" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مستودع السلامة العامة</title>

    <!-- theme meta -->
    @*<meta name="theme-name" content="mono" />*@





    <link href="~/Assets/plugins/material/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/Assets/plugins/simplebar/simplebar.css" rel="stylesheet" />

    <!-- PLUGINS CSS STYLE -->
    <link href="~/Assets/plugins/nprogress/nprogress.css" rel="stylesheet" />






    <link href="~/Assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet" />



    <link href="~/Assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />



    <link href="~/Assets/css/quill.css" rel="stylesheet">



    <link href="~/Assets/plugins/toaster/toastr.min.css" rel="stylesheet" />


    <!-- MONO CSS -->
    <link id="main-css-href" rel="stylesheet" href="~/Assets/css/style.css" />




    <!-- FAVICON -->
    <link href="~/Assets/images/favicon.png" rel="shortcut icon" />


    <script src="~/Assets/plugins/nprogress/nprogress.js"></script>



    <link rel="stylesheet" href="~/Assets/css/style-rtl.css" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>


    <!-- ngTable library -->
    <link rel="stylesheet" href="~/Content/ng-table.min.css">
    <script src="~/Scripts/ng-table.min.js"></script>




    <link rel="stylesheet" href="~/Assets/css/toastify.css" />
    <link rel="stylesheet" href="~/Assets/css/sweetAlert.css" />



    @*dropzone css*@
    <link rel="stylesheet" href="~/Assets/css/dropzone.min.css" />
    <link href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Assets/css/custom.css" />

    <script src="~/Scripts/charts.js"></script>
</head>
<body class="navbar-fixed sidebar-fixed" id="body">


    @RenderBody();


    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/sweetAlert.js"></script>
    <script src="~/Scripts/toastify.js"></script>
    @*<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>*@
    <script src="~/Assets/plugins/simplebar/simplebar.min.js"></script>
    <script src="~/Scripts/hotkeys.js"></script>

    <script src="~/Assets/plugins/apexcharts/apexcharts.js"></script>



   






    <script src="~/Assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('input[name="dateRange"]').daterangepicker({
                autoUpdateInput: false,
                singleDatePicker: true,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            jQuery('input[name="dateRange"]').on('apply.daterangepicker', function (ev, picker) {
                jQuery(this).val(picker.startDate.format('MM/DD/YYYY'));
            });
            jQuery('input[name="dateRange"]').on('cancel.daterangepicker', function (ev, picker) {
                jQuery(this).val('');
            });
        });
    </script>



    <script src="~/Scripts/quill.js"></script>



    <script src="~/Assets/plugins/toaster/toastr.min.js"></script>

    <script src="~/Assets/plugins/prism/prism.js"></script>

    <script src="~/Assets/plugins/toaster/toastr.min.js"></script>

    <script src="~/Assets/js/mono.js"></script>
    <script src="~/Assets/js/chart.js"></script>
    <script src="~/Assets/js/map.js"></script>
    <script src="~/Assets/js/custom.js"></script>




    <!-- drop zone js -->
    <script src="~/Scripts/dropzone.min.js"></script>

    <script src="~/Assets/app.js"></script>

</body>
</html>

