
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex">


    <!-- Main Dashboard -->
    <div class="flex-grow-1 p-4" >
      

        <!-- KPI Cards -->
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card shadow p-3">
                    <h5>عدد الموظفين الكلي</h5>
                    <h2>124</h2>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow p-3">
                    <h5>عدد المستقيلين الكلي</h5>
                    <h2>124</h2>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow p-3">
                    <h5>عدد المواد الكلي</h5>
                    <h2>52</h2>
                </div>
            </div>
        </div>
    </div>
</div>


