
@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="content" dir="rtl">

    <!-- Employees Inventory -->
    <div class="card card-default" dir="rtl">

        <!-- بطاقة رأسية -->
        <div class="card-header">

            <!-- العنوان -->
            <div class="row mb-3">
                <h2 class="mb-0">قائمة الموظفين</h2>
            </div>

            <!-- الفلاتر وأزرار الإضافة -->

        </div>

        <!-- جسم البطاقة -->
        <div class="card-body p-2">
            <div class="d-flex justify-content-between">
                <div class="btn-group w-100 ">
                    <button type="button" class="btn dropdown-toggle w-100 text-dark" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        اكسل
                    </button>
                    <ul class="dropdown-menu w-100 small">
                        <li>
                            <a class="dropdown-item text-truncate" href="/Upload/DownloadEmployeeTemplate" title="تنزيل نموذج الموظفين">
                                تنزيل نموذج الموظفين
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#uploadEmployeesModal" href="">
                                رفع ملف الموظفين
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/Upload/DownloadAllEmployees">
                                تنزيل ملف الموظفين
                            </a>
                        </li>
                    </ul>
                </div>



               

                <!-- فلتر الحالة -->
                <div class="col-md-2 mb-2">
                    <select ng-model="employeesTableParams.filter().Active" class="form-control">
                        <option value="">الكل</option>
                        <option value="true">نشط</option>
                        <option value="false">مستقيل</option>
                    </select>
                </div>

                <!-- Dropdown البحث -->
                <div class="d-flex justify-content-between col-md-5 mb-2 align-items-center">
                    <div class="btn-group">
                        <button type="button" class="search btn btn-secondary dropdown-toggle w-100 ml-2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            ابحث بواسطة
                        </button>
                        <div class="dropdown-menu w-100 txt-small">
                            <span class="dropdown-item searchItem p-0" ng-click="searchBy = 0" ng-class="{'active': searchBy === 0}">الاسم</span>
                            <span class="dropdown-item searchItem p-0" ng-click="searchBy = 1" ng-class="{'active': searchBy === 1}">الدائرة</span>
                            <span class="dropdown-item searchItem p-0" ng-click="searchBy = 2" ng-class="{'active': searchBy === 2}">المسمى الوظيفي</span>
                            <span class="dropdown-item searchItem p-0" ng-click="searchBy = 3" ng-class="{'active': searchBy === 3}">الوحدة التنظيمية</span>
                        </div>
                    </div>


                    <!-- حقول البحث -->

                    <input type="text" ng-show="searchBy === 0" ng-model="employeesTableParams.filter().FullName" placeholder="الاسم" class="form-control" />
                    <input type="text" ng-show="searchBy === 1" ng-model="employeesTableParams.filter().Section" placeholder="الدائرة" class="form-control" />
                    <input type="text" ng-show="searchBy === 2" ng-model="employeesTableParams.filter().JobTitle" placeholder="المسمى الوظيفي" class="form-control" />
                    <input type="text" ng-show="searchBy === 3" ng-model="employeesTableParams.filter().Department" placeholder="الوحدة التنظيمية" class="form-control" />

                </div>



                <!-- زر إضافة موظف -->
                <div class="col-md-3 mb-2 text-start">
                    <button type="button" class="btn btn-info add" style="width:200px" ng-click="GoToAddPage()">إضافة موظف</button>
                </div>

            </div>

            <table class="table table-hover table-bordered text-center" ng-table="employeesTableParams">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>الاسم</th>
                        <th>الفئة</th>
                        <th>الدائرة</th>
                        <th>المسمى الوظيفي</th>
                        <th>الوحدة التنظيمية</th>
                        <th>الموقع</th>
                        <th>الإجراءات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employee in $data">
                        <td>{{$index + 1}}</td>
                        <td>
                            {{employee.FullName}}
                            <div>
                                <small class="text-muted">
                                    <span class="text-danger" ng-show="!employee.Active">مستقيل</span>
                                </small>
                            </div>
                        </td>
                        <td>{{employee.Category}}</td>
                        <td>{{employee.Section}}</td>
                        <td>{{employee.JobTitle}}</td>
                        <td>{{employee.Department}}</td>
                        <td>
                            <span ng-show="employee.WorkLocation == 'Amman'">عمان</span>
                            <span ng-show="employee.WorkLocation == 'Khaldieh'">الخالدية</span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-success dropdown-toggle actions" data-bs-toggle="dropdown"></button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#!/editEmployee/{{employee.EmployeeId}}">تعديل</a></li>
                                    <li><hr class="dropdown-divider" ng-show="employee.Active"></li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exceptionModalForm" ng-click="loadException(employee.EmployeeId)" ng-show="employee.Active">بدل استثناء</a></li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#damageModalForm" ng-click="loadDamaged(employee.EmployeeId)" ng-show="employee.Active">استلام تلف مادة</a></li>
                                    <li><hr class="dropdown-divider" ng-show="employee.Active"></li>
                                    <li><a class="dropdown-item" href="#!/issuances/{{employee.EmployeeId}}" ng-show="employee.Active">سجل الصرف</a></li>
                                    <li><a class="dropdown-item" href="#!/entitlements/{{employee.EmployeeId}}" ng-show="employee.Active">سجل المستحقات</a></li>
                                    <li><hr class="dropdown-divider" ng-show="employee.Active"></li>
                                    <li><a class="dropdown-item text-danger" href="" ng-click="confirmDelete(employee.EmployeeId)" ng-show="employee.Active">استقال الموظف</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

</div>



<div class="modal fade" id="exceptionModalForm" tabindex="-1" aria-labelledby="exceptionModalForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFormTitle">اضافة استثناء</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="exceptionForm">
                    <div class="form-group">
                        <label>اسم المادة</label>
                        <select class="form-control rounded-0 bg-light"
                                ng-model="issuance.ItemId" name="Section" required
                                ng-options="i.ItemId as i.Name for i in items">
                            <option value="" disabled selected>اختر اسم المادة</option>
                        </select>
                        <div class="invalid-feedback d-block" ng-show="exceptionForm.$submitted && !issuance.ItemId">
                            <i class="bx bx-radio-circle"></i>
                            يرجى اختيار مادة
                        </div>
                    </div>

                    <div class="form-group">
                        <label>الكمية</label>
                        <input ng-model="issuance.Quantity" type="number" class="form-control" min="0" value="1">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">السبب</label>
                        <input ng-model="issuance.ExceptionReason" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ادخل السبب">
                    </div>

                    <div class="form-group">
                        <div id="dropzone" class="dropzone"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary accept" ng-click="issueDamage()">حفظ التغييرات</button>
                <button type="button" class="btn btn-danger closeBtn" data-bs-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="damageModalForm" tabindex="-1" aria-labelledby="damageModalForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFormTitle">اضافة استلام تلف مادة</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="damageForm">
                    <div class="form-group">
                        <label>اسم المادة</label>
                        <select class="form-control rounded-0 bg-light"
                                ng-model="issuance.ItemId" name="Section" required
                                ng-options="i.ItemId as i.Name for i in items">
                            <option value="" disabled selected>اختر اسم المادة</option>
                        </select>
                        <div class="invalid-feedback d-block" ng-show="damageForm.$submitted && !issuance.ItemId">
                            <i class="bx bx-radio-circle"></i>
                            يرجى اختيار مادة
                        </div>
                    </div>

                    <div class="form-group">
                        <label>الكمية</label>
                        <input ng-model="issuance.Quantity" type="number" class="form-control" min="0" value="1">
                    </div>



                    <div class="form-group">
                        <div id="dropzone" class="dropzone"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary accept" ng-click="issueDamage()">حفظ التغييرات</button>
                <button type="button" class="btn btn-danger closeBtn" data-bs-dismiss="modal">إغلاق</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadEmployeesModal" tabindex="-1" aria-labelledby="uploadEmployeesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalFormTitle">رفع ملف الموظفين</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    
                    <input type="file" file-model="excelFile" accept=".xlsx" />
                    
                </div>

                <div ng-show="uploadResult">
                    <p>Success: {{uploadResult.SuccessCount}}</p>
                    <ul>
                        <li ng-repeat="err in uploadResult.Errors">{{err}}</li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="uploadExcel()">Upload</button>

            </div>
        </div>
    </div>
</div>

