@{
    ViewBag.Title = "Home Page";
}

<script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
</script>





<!-- ====================================
——— WRAPPER
===================================== -->
<div class="wrapper" ng-controller="sidebarCtrl">


    <!-- ====================================
      ——— LEFT SIDEBAR WITH OUT FOOTER
    ===================================== -->
    <aside class="left-sidebar" id="left-sidebar">
        <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->

            <a href="/index.html" class="text-center">
                <img src="~/Assets/images/logo.png" alt="Mono" class="w-75">

            </a>

            <!-- begin sidebar scrollbar -->
            <div class="sidebar-left" data-simplebar style="height: 100%;">
                <!-- sidebar menu -->
                <ul class="nav sidebar-inner" id="sidebar-menu">



                    <li class="" ng-class="{'active': activeItem == 0}">
                        <a class="sidenav-item-link justify-content-between" href="#!/">
                            <i class="mdi mdi-briefcase-account-outline"></i>
                            <span class="nav-text">الصفحة الرئيسية</span>
                        </a>
                    </li>

                    <li class="" ng-class="{'active': activeItem == 1}" ng-show="IsAdmin">
                        <a class="sidenav-item-link justify-content-between" href="#!/matrices">
                            <i class="mdi mdi-file-document-box"></i>
                            <span class="nav-text">المصفوفات</span>
                        </a>
                    </li>

                    <li class="" ng-class="{'active': activeItem == 2}">
                        <a class="sidenav-item-link justify-content-between" href="#!/employees">
                            <i class="mdi mdi-account-group"></i>
                            <span class="nav-text">الموظفين</span>
                        </a>
                    </li>

                    <li class="" ng-class="{'active': activeItem == 3}">
                        <a class="sidenav-item-link justify-content-between" href="#!/items">
                            <i class="mdi mdi-package-variant-closed"></i>
                            <span class="nav-text">المواد</span>
                        </a>
                    </li>

                </ul>



            </div>
            <div class="sidebar-footer">
                <div class="sidebar-footer-content">
   
                    
                            
                            <a href="@Url.Action("Logout", "Account")" class="btn btn-danger w-100">
                                تسجيل الخروج
                            </a>
                       
                       
                
                </div>
            </div>
        </div>




    </aside>S
    


    <!-- ====================================
    ——— PAGE WRAPPER
    ===================================== -->
    <div class="page-wrapper">



        <!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
        <div class="content-wrapper">
            <ng-view></ng-view>

        </div>




    </div>
</div>
