@{
    ViewBag.Title = "Home Page";
}

<script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
</script>





<!-- ====================================
——— WRAPPER
===================================== -->
<div class="wrapper" ng-controller="sidebarCtrl">


    <!-- ====================================
      ——— LEFT SIDEBAR WITH OUT FOOTER
    ===================================== -->
    <aside class="left-sidebar" id="left-sidebar">
        <div id="sidebar" class="sidebar sidebar-with-footer">
            <!-- Aplication Brand -->
            
                <a href="/index.html" class="text-center">
                    <img src="~/Assets/images/logo.png" alt="Mono" class="w-75">
     
                </a>
        
            <!-- begin sidebar scrollbar -->
            <div class="sidebar-left" data-simplebar style="height: 100%;">
                <!-- sidebar menu -->
                <ul class="nav sidebar-inner" id="sidebar-menu">



                    <li class="" ng-click="selectedIndex = 0" ng-class="{'active': selectedIndex == 0}">
                        <a class="sidenav-item-link" href="#!/">
                            <i class="mdi mdi-briefcase-account-outline"></i>
                            <span class="nav-text">الصفحة الرئيسية</span>
                        </a>
                    </li>

                    <li class="" ng-click="selectedIndex = 1" ng-class="{'active': selectedIndex == 1}">
                        <a class="sidenav-item-link" href="#!/matrices">
                            <i class="mdi mdi-briefcase-account-outline"></i>
                            <span class="nav-text">المصفوفات</span>
                        </a>
                    </li>

                    <li class="" ng-click="selectedIndex = 2" ng-class="{'active': selectedIndex == 2}">
                        <a class="sidenav-item-link" href="#!/employees">
                            <i class="mdi mdi-briefcase-account-outline"></i>
                            <span class="nav-text">الموظفين</span>
                        </a>
                    </li>

                    <li class="" ng-click="selectedIndex = 3" ng-class="{'active': selectedIndex == 3}">
                        <a class="sidenav-item-link" href="#!/items">
                            <i class="mdi mdi-briefcase-account-outline"></i>
                            <span class="nav-text">المواد</span>
                        </a>
                    </li>

                </ul>



            </div>
        </div>




    </aside>



    <!-- ====================================
    ——— PAGE WRAPPER
    ===================================== -->
    <div class="page-wrapper">

  

        <!-- ====================================
        ——— CONTENT WRAPPER
        ===================================== -->
        <div class="content-wrapper">
            <ng-view></ng-view>

        </div>




    </div>
</div>
